{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIXPERT</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'vendors/iconly/bold.css' %}">
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.toast.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logo/logo.ico' %}" type="image/x-icon">  




</head>

<body>
    <div id="app">
        
        <div id="sidebar" class="active ">
            <div class="sidebar-wrapper active">
                {% include 'app/components/side_menu.html' %}
            </div>
        </div>


        <div id="main">
            <header >
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            
            <div class="page-content"> 
                <!-- app content -->
                {% block content %}

                {% endblock content %} 
            </div>
            
            <div>

              
            </div>
           
        </div>
    </div>
  
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'js/jquery.toast.js' %}"></script>

</body> 