{% extends 'app/components/base.html' %}

{% block content %}

{% include 'app/components/navbar.html' with title='Historique' %}
{% include 'app/components/messages.html' %}




    <div class="row mb-4 align-items-center">
        
        <div class="col-12 col-lg-3 my-4 my-lg-0">
            <div class="card border-0 shadow">
                <div class="card-body shadow-md p-2 border-0">
                    <div class="row">
                        <div class="col-7">
                            <div class="form-floating">
                                <select class="form-select mb-2 shadow-none" aria-label="Default select example" id="select-gros" name="gros" onchange="get_articles()">
                                    {% for item in gros %}
                                        <option id="{{ item.id }}">{{ item.gros }} {{ item.regime__designation }}</option> 
                                    {% endfor %}
                                </select>                     
                                <label for="gros" >Gros</label>
                            </div>
                        </div>
                        <div class="col-5">

                            <div class="form-floating">
                              <input type="search" class="form-control" id="gros-search-box"  oninput="searchGros()" autocomplete="off"  data-bs-toggle="tooltip" data-bs-placement="top" title="Vous devez cliquer sur ENTRÉE pour valider la Search">
                              <label for="floatingInput">Search</label>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <div class="form-floating">
                                <select class="form-select mb-2 shadow-none" aria-label="Default select example" id="select-article" name="article" onchange="get_tcs()" >  </select>
                                <label for="article" >Article</label>
                            </div>
                        </div>
                        <div class="col-5">

                                <div class="form-floating">
                                  <input type="search" class="form-control" id="articles-search-box"  oninput="searchArticle()" autocomplete="off">
                                  <label for="floatingInput">Search</label>
                                </div>
    
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-secondary w-100 shadow-none" onclick="get_tcs()">Searchr</button>
                    </div>  

                </div>
            </div>
        </div>

        <div class="col-lg-9 align-self-middle d-flex align-items-stretch">
            <div class="card">
                <div class="card bg-gray-200 p-3 ">
                    <div class="mb-2">
                        <b>Gros</b>  &nbsp; &nbsp; <span class="badge bg-primary p-2" id="gros_number"> - </span>
                    </div>
                    <div class="mb-2">
                        <b>Article</b>  &nbsp; &nbsp; <span class="badge bg-primary p-2" id="article_number"> - </span> &nbsp; <span class="badge bg-success p-2" id="badge-vuaquai"></span>
                    </div>
                    <div class="mb-2">
                        <b>Désignation</b> &nbsp; &nbsp;  <span id="designation"> - </span>
                    </div>
                    <div class="mb-2">
                        <b>Client</b> &nbsp; &nbsp;  <span id="client"> - </span>
                    </div>
                </div>
            </div>
        </div> 

    </div>

    <div class="card">
        <div class="card-body p-2 p-lg-3 pb-0">

            <div class="table-responsive table-hover mb-4">
                <table class="table table-hover table-borderless table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light border-0">
                        <tr>
                            <th class="rounded-start">Tc</th>
                            <th >Type</th>
                            <th >Arriver au port</th>
                            <th >Chargé sur Camion</th>
                            <th class="rounded-end">Entrée au port sec </th>
                        </tr>
                    </thead>
                    <tbody id="data_table">
                        
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    {% include 'app/components/update_bulletins.html'  %}




<script> 
window.onload = function() {
    printitems('nav8')
    get_articles();
};


gros_search_box = document.getElementById("gros-search-box");
gros_options = document.getElementById("select-gros");
articles_search_box = document.getElementById("articles-search-box");
artcile_options = document.getElementById("select-article");



function searchGros(){
    var text = gros_search_box.value;
    searchSelect(gros_options.options,text );  
}

function searchArticle(){
    var text = articles_search_box.value;
    searchSelect(artcile_options.options,text );  
}


function searchSelect(opetions, text){
    var options = opetions; //select options
    for (var i = 0; i < options.length; i++) {
        var option = options[i]; //current option
        var optionText = option.text; //option text ("Somalia")
        var lowerOptionText = optionText.toLowerCase(); //option text lowercased for case insensitive testing
        var lowerText = text.toLowerCase(); //searchBox value lowercased for case insensitive testing
        var regex = new RegExp("^" + text, "i"); //regExp, explained in post
        var match = optionText.match(regex); //test if regExp is true
        var contains = lowerOptionText.indexOf(lowerText) != -1; //test if searchBox value is contained by the option text
        if (match || contains) { //if one or the other goes through
            option.selected = true; //select that option
            return; //prevent other code inside this event from executing
        }
    }
}



gros_search_box.addEventListener("keypress", function(event) {
    // If the user presses the "Enter" key on the keyboard
    if (event.key === "Enter") {
      // Cancel the default action, if needed
      event.preventDefault();
      // Trigger the button element with a click
      get_articles(gros_options.value);
    }
});




function get_articles(){
    let gros = document.getElementById('select-gros');
    let selected_gros_id = gros.options[gros.selectedIndex].id;
    let select_article = document.getElementById('select-article');
    $.ajax({
            type: 'GET',
            url: "{% url 'articles_by_gros' %}",
            data: {
                "gros_id": selected_gros_id,
            },
            success: function (response) { 
                select_article.innerHTML = "";
                response.data.forEach(item => {
                    var option = document.createElement("option");
                    option.text = item.numero;
                    option.id = item.id;
                    select_article.add(option);
                    }
                )
            },
            error: function (response) {
                alert(response["responseJSON"]["error"]);
            }
        })  
}
function setValue(value,type){
    if((typeof value != 'undefined') && (value!=null)){
        value = value.replace('T',' ');
        value = value.replace(':00Z','');
        return value;
    }else{
        return "-";
    }
}

function setInfo(data){
    console.log(data)
    document.getElementById('article_number').innerHTML =  data.article;
    document.getElementById('gros_number').innerHTML =  data.gros;
    document.getElementById('client').innerHTML =  data.client;
    document.getElementById('designation').innerHTML =  data.designation;
}
  function addSelectedRow(table, data){
            var row = table.insertRow(0);
            var tc_cell = row.insertCell(0);
            tc_cell.classList.add("rounded-start");
            var type_cell = row.insertCell(1);
            var a_quai_cell = row.insertCell(2);
            var camion_cell = row.insertCell(3);
            var entree_port_sec_cell = row.insertCell(4);
            entree_port_sec_cell.classList.add("rounded-end")

            row.id = data.tc;
            tc_cell.innerHTML= data.tc;

            let type = data.type_tc__designation;
            if(data.dangereux){
                type += '&nbsp;<span class="badge bg-danger pt-2"> </span>';
            }
            if(data.frigo){
                type += '&nbsp;<span class="badge bg-info pt-2"> </span>';
            }
            type_cell.innerHTML= type;
          

            a_quai_cell.innerHTML= setValue(data.article__gros__accostage,'warning'); 
            camion_cell.innerHTML = setValue(data.date_sortie_port,'primary');
            entree_port_sec_cell.innerHTML = setValue(data.date_entree_port_sec,'success');
    }


function get_tcs(){
    document.getElementById("badge-vuaquai").innerHTML = "";
    table = document.getElementById("data_table");
    let article = document.getElementById('select-article');
    let selected_article_id = article.options[article.selectedIndex].id;
    while(table.hasChildNodes()){
        table.removeChild(table.firstChild);
    }
    $.ajax({
            type: 'GET',
            url: "{% url 'get_tcs_by_article' %}",
            data: {
                "selected_article_id": selected_article_id,
            },
            success: function (response) { 
                if (response.info.vuaquai) {
                    document.getElementById("badge-vuaquai").innerHTML = "vu à quai";
                }
                setInfo(response.info);
                response.data.forEach(item => {
                    addSelectedRow(table, item);         
                })             
            },
            error: function (response) {
                alert(response["responseJSON"]["error"]);
            }
        })  
}


</script>

{% endblock content %}

