{% load static %}
<!doctype html>
<html lang="en">
  	<head>
		<title>LOGIXPERT</title>
		<meta charset="utf-8">
		<link rel="icon" href="{% static 'img/logo.ico' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'css/login.css' %}">
	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-4">
				<div class="col-lg-6 text-center">
					<h2 class="heading-section" style="font-size: 24pt;letter-spacing: 5px;">LOGIXPERT</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">


						<div class="img" style="background-image: url({% static 'img/login_background.jpg' %});">
			      </div>
						<div class="login-wrap p-4 p-md-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Se Connecter</h3>
			      		</div>
							
			      	</div>
	<form class="auth-form login-form" method="POST">   
	{% csrf_token %}  
			      		<div class="form-group mb-3">
			      			<label class="label" for="name">NOM D'UTILISATEUR</label>
			      			<input type="text" class="form-control" placeholder="Nom d'utilisateur" name="username" required>
			      		</div>
		            <div class="form-group mb-3">
		            	<label class="label" for="password">MOT DE PASSE</label>
		              <input type="password" class="form-control" placeholder="Mot de passe" name="password" required>
		            </div>
		            <div class="form-group">
		            	<button type="submit" class="form-control btn btn-primary rounded submit px-3">Se connecter</button>
		            </div>
		            <div class="form-group d-md-flex">
		            	<div>
					    	
		            </div>
		          </form>
				  
		        </div>
		      </div>
				</div>
			</div>
			{% include 'app/components/messages.html' %}
		</div>
		
	</section>
	<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>  
	<script src="{% static 'js/login/main.js' %}"></script>  
	<script src="{% static 'js/login/popper.js' %}"></script>  

	</body>
</html>

