{% extends 'app/components/base.html' %}
{% load humanize %}
{% block content %}

{% include 'app/components/navbar.html' with title=proforma.numero %}
{% include 'app/components/messages.html' %}

<div class="card bg-gray-200 mt-4 mt-lg-0 mb-4">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-lg-9">
                {% if proforma.trashed %}
                    <span class="position-absolute top-0 start-50 py-2 px-4 translate-middle badge rounded-pill bg-danger">
                        Annulé
                    </span>
                {% elif proforma.valide %}
                    <span class="position-absolute top-0 start-50 py-2 px-4 translate-middle badge rounded-pill bg-success">
                        Validé                    
                    </span>
                {% endif %}

                <div class="mb-2">
                    Date de Proforma &nbsp; &nbsp; <span class="badge bg-primary p-2">{{ proforma.date_proforma  }}</span>
                </div>


                <div class="mb-2">
                    Gros &nbsp; &nbsp; <span class="badge bg-primary p-2">{{ proforma.gros.gros }}</span>
                </div>

                <div class="mb-2">
                    Article &nbsp; &nbsp; <span class="badge bg-primary p-2">{{ proforma.article.numero }} - </span>
                </div> 

                <div class="mb-2">
                    Groupeur &nbsp; &nbsp;<small><b>{{ proforma.article.client }}</b></small>
                </div>
                <div class="mb-2">
                    Client &nbsp; &nbsp;<small><b>{{ proforma.sous_article.client }}</b></small>
                </div>
                <div>
                    Transitaire &nbsp; &nbsp; <span class="badge bg-primary p-2"> {% if proforma.article.transitaire is None %} / {% else %}{{ proforma.article.transitaire }} {% endif %}</span>
                </div> 
            </div> 
            <div class="col-12 col-lg-3">
                <hr class="d-block d-lg-none">
                <div class="card bg-gray-200 mt-3">
                    <div class="card-body p-0">

                        <div class="row">
                            <div class="col-4 col-lg-4">
                                <div class="mb-4">
                                    <span class="badge bg-succes text-primary p-2">  Volume </span>
                                </div>  

                                <div class="mb-2">
                                    <span class="badge bg-gray-100 text-primary p-2">  Remise </span>
                                </div>  
                                <div class="mb-2">
                                    <span class="badge bg-gray-100 text-primary p-2"> HT  </span>
                                </div>
                                <div class="mb-2">
                                    <span class="badge bg-gray-100 text-primary p-2"> TVA </span>
                                </div> 
                                {% if proforma.debeur %}        
                                    <div class="mb-2">
                                        <span class="badge bg-gray-100 text-primary p-2"> DEBEUR </span>      
                                    </div>
                                {% endif %}
                                <div class="mb-2">
                                    <span class="badge bg-primary p-2">  TTC </span>
                                </div>
                            </div>

                            <div class="col-8 col-lg-8">
                                <div class="mb-4">
                                    <span class="badge bg-gray-100 text-primary p-2">  <b>{{ proforma.sous_article.volume }}</b> M3</span>
                                </div> 
                                <div class="mb-2">
                                    {% if proforma.remise == True %}
                                    <span class="badge bg-danger p-2"> 
                                        {% if proforma.REMISE > 100 %}
                                            {{ proforma.REMISE }} DA
                                        {% elif proforma.REMISE < 100 %}
                                            {{ proforma.REMISE }} %
                                        {% endif %}
                                    </span>
                                {% endif %}
                                <span class="badge bg-gray-300 text-primary p-2"> {{ proforma.TR| intcomma  }} DA</span>
                                </div>   
                                <div class="mb-2">
                                   <span class="badge bg-gray-300 text-primary p-2"> {{ proforma.HT| intcomma  }} DA</span>
                                </div>
                                <div class="mb-2">
                                   <span class="badge bg-gray-300 text-primary p-2"> {{ proforma.TVA | intcomma }} DA</span>
                                </div>         
                                {% if proforma.debeur %}        
                                    <div class="mb-2">
                                        <span class="badge bg-gray-300 text-primary p-2"> {{ proforma.DEBEUR | intcomma }} DA</span>
                                    </div>
                                {% endif %}
                                <div class="mb-2">
                                    <span class="badge bg-primary p-2" id="TTC"> {{ proforma.TTC| intcomma  }} DA</span>
                                </div>
                            </div>
                          
                       
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

<div class="row row-cols-auto">
    <div class="col">
        <div class="card mb-3">
            <div class="card-body p-2">
                <div class="row">
                    <div class="col-12">    
                        <a href={% url 'facturation_groupage_details' proforma.sous_article.id %} class="btn btn-gray-200 shadow-none px-5" tabindex="-1" role="button" aria-disabled="true"> 
                            <svg xmlns="http://www.w3.org/2000/svg" id="Bold" viewBox="0 0 24 24" width="24" height="24"><path d="M19,10.5H10.207l2.439-2.439a1.5,1.5,0,0,0-2.121-2.122L6.939,9.525a3.505,3.505,0,0,0,0,4.95l3.586,3.586a1.5,1.5,0,0,0,2.121-2.122L10.207,13.5H19a1.5,1.5,0,0,0,0-3Z"/></svg>
                        </a>  
                        <a href={% url 'print_proforma_groupage' proforma.id %} target="_blank" class="btn btn-secondary shadow-none" tabindex="-1" role="button" aria-disabled="true">
                            <svg xmlns="http://www.w3.org/2000/svg" id="Filled" viewBox="0 0 24 24" width="16" height="16"><path d="M19,4a4,4,0,0,0-4-4H9A4,4,0,0,0,5,4V5H19Z"/><rect x="5" y="15" width="14" height="9" rx="3"/><path d="M19,7H5a5.006,5.006,0,0,0-5,5v4a5,5,0,0,0,3,4.576V18a5.006,5.006,0,0,1,5-5h8a5.006,5.006,0,0,1,5,5v2.576A5,5,0,0,0,24,16V12A5.006,5.006,0,0,0,19,7Zm-1,4H16a1,1,0,0,1,0-2h2a1,1,0,0,1,0,2Z"/></svg>
                        </a>  
                        {% if not invoiced %}
                        <a  class="btn btn-primary shadow-none"  data-bs-toggle="modal" href="#add_facture_model">
                            + facture
                        </a>  
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    
    <div class="card mb-3">
        <div class="card-body p-2 p-lg-3">
            <span class="badge bg-gray-100 text-primary p-2 mb-3"> Prestations</span>
            <div class="table-responsive table-hover mb-3">
                <table class="table table-hover table-borderless table-centered table-nowrap mb-0 rounded" id="pink">
                    <thead class="thead-light border-0">
                  <tr>
                        <th class="rounded-start">Rubrique</th>
                        <th>Quantite</th>
                        <th>Traif</th>
                        <th>HT</th>
                        <th>TVA</th>
                        <th class="rounded-end">TTC</th>
                 
                  </tr>
                  </thead>
                  <tbody>
                  {% if lignes_prestations|length > 0 %}
                      {% for item in lignes_prestations %}
                            <tr>       
                                <td class="rounded-start"> {{ item.rubrique}} </td>
                                <td> {{ item.quantite}} </td>
                                <td> {{ item.tarif}} </td>
                                <td> {{ item.HT}} </td>
                                <td> {{ item.TVA}} </td>
                                <td class="rounded-end"> {{ item.TTC}} </td>    
                            </tr>       
                      {% endfor %}
                  {% else %}
                        <tr>
                            <td colspan="7" class="text-center p-4">
                                <h1><i class="bi bi-inboxes mt-4" ></i></h1>
                            </td>
                        </tr>    
                  {% endif %}
              
                  </tbody>
                </table>                 
              </div>
        </div>
    </div>




    {% include 'app/components/add_without_button.html' with form=form_facture title="+ Facture" submit_button="facture_submit" model_id="add_facture_model" %}



<script>

    window.onload = (event) => {
        printitems('nav11');
    };

</script>
{% endblock content %}




            